.left {
  text-align: left;
}

body {
  background-color: rgb(83, 82, 25);
  color: lavenderblush;
  text-align: center;
}

.frame {
  width: 300px;
  float: left;
  border: 10px blueviolet;
  border-style: ridge;
}
.column {
  width: 325px;
  float: left;
}

.important {
  color: red;
  font-weight: bolder;
  font-style: oblique;
}
